/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: 'my-font';
    src: url('./open-sans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'my-font', serif;

    background-image: url(images/dark-surface-with-blank-space-fast-food-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* main header styling */
header {
  display: flex;
  flex-direction: row;
  align-content: baseline;

  padding-top: 20px;
  gap: 250px;
}

.main-logo {
  width: 100px;
  height: 100px;

}

header h1 {
  font-size: 2rem;
  color: #fffdd0;
  padding-left: 125px;
}

nav {
    display: flex;
    flex-direction: row;

    gap: 50px;
}

nav button {
    width: 100px;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: #fffdd0;
    color: #000000;
}

/* home section */
.home-container {
  width: 1000px;
  height: 100%;

  padding-top: 30px;
}

.home-container .heading {
  font-size: 75px;
  color: #ffffff;
  
  padding-left: 25%;
  text-decoration: underline;
  font-style: italic;
}

.quotes {
  padding-left: 225px;
  padding-top: 50px;
}

.quote-heading {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-bottom: 25px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;

  color: #ffffff;
}

.quote-one,
.quote-two {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: #ffffff solid;
  padding: 25px;
  
  text-align: center;
}

.hours {
  position: absolute;
  left: 25%;

  padding-top: 100px;
}

.business-hours {
  font-size: 24px;
  text-decoration: underline;
  color: #4169e1;
  text-align: center;
  padding-bottom: 10px;
}

.time-one,
.time-two {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
}

/* about-section */
.about-container {
  width: 70%;
  height: 100%;

  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-container h2 {
  text-align: center;
  font-size: 36px;
  color: #98fb98;
}

section h4 {
  padding-left: 25%;
  color: #98fb98;
  font-weight: bold;
  font-size: 24px;
}

section p {
  padding-bottom: 25px;
}

section p,
.question-answer {
  font-size: 16px;
  color: #ffffff;
}

.questionaire {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.question {
  color: #f5f5dc;
  padding-bottom: 10px;
  font-size: 20px;
}

/* menu section */
.menu-container {
  width: 70%;
  height: 100%;

  padding: 50px;
}

.menu-container h2 {
  text-align: center;
  font-size: 36px;
  color: #98fb98;
  padding-bottom: 50px;
}

.tables {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
}

#table-header {
  font-size: 24px;
  color: #fffdd0;
  font-weight: bold;
}



table {
  color: #ffffff;
  font-size: 16px;
}

/* contact section */
.contact-container {
  width: 70%;
  height: 100%;

  padding: 50px;
}

.contact-container h2 {
  text-align: center;
  font-size: 36px;
  color: #98fb98;
}

.contact-container .description {
  padding-left: 50px;
  color: #f5f5dc;
  font-size: 20px;
  padding-bottom: 50px;
}

.contact-container article {
  display: flex;
  flex-direction: row;

  color: #ffffff;

  gap: 50px;
  padding: 25px;
}

article p {
  text-decoration: underline;
}

#contact-info {
  display: flex;
  flex-direction: row;

  gap: 25px;
}

a {
  text-decoration: none;
  color: white;
}